{% extends "pages/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Prediction Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Prediction Input:</h5>
                <div>Duration: <span id="dr"></span></div>
                <div>Protocol: <span id="pr"></span></div>
                <div>Service: <span id="se"></span></div>
                <div>Flag: <span id="fl"></span></div>
                <div>Src_bytes: <span id="sr"></span></div>
                <div>Dst_bytes: <span id="ds"></span></div>
                <h5 class="pt-3">Prediction Classification:</h5>
                <div id="prediction"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a class="btn btn-primary" href="/results" role="button">View DB</a>
            </div>
        </div>
    </div>
</div>

<h1  style = "color: #fff">Predict data</h1>
<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4" style="color:#fff;">
            <h1>IDS Prediction</h1>
            <form action="" id="post-form", method = "post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="duration">duration</label>
                    <input type="number" step="0.1" class="form-control" name="duration" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="protocol">protocol</label>
                    <input type="text" step="0.1" class="form-control" name="protocol" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="service">service</label>
                    <input type="text" step="0.1" class="form-control" name="service" placeholder="" required>
                </div>
                <div class="form-group">
                    <label for="flag">flag</label>
                    <input type="text" step="0.1" class="form-control" name="flag" placeholder="" required>
                </div>

                <div class="form-group">
                    <label for="src_bytes">src_bytes</label>
                    <input type="number" step="0.1" class="form-control" name="src_bytes" placeholder="" required>
                </div>

                <div class="form-group">
                    <label for="dst_bytes">dst_bytes</label>
                    <input type="number" step="0.1" class="form-control" name="dst_bytes" placeholder="" required>
                </div>

                <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
            </form>
        </div>
    </div>
</div>

{% if pred %}
<h1 style = "color: #fff">This is predict: {{pred}}</h1>
{% endif %}

{% endblock %}
